{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block form_content %}
	<div class="card col-6">
		<div class="form">
			<h1>Reset your password</h1>
			{% if validlink %}
				<p>Please enter your new password twice:</p>
				<form method="post" class="form-b">
		           <h3 style="color: red;"> {{ form.errors }} </h3>
					{{ form.non_field_errors }}
					{{ form.as_p }}
					{% csrf_token %}
					<button type="submit">Change my password</button>
				</form>
			{% else %}
				<p>The password reset link was invalid, possibly because it has
				already been used. Please request a new password reset.</p>
			{% endif %}
		</div>
		
	</div>
 
{% endblock %}