{% extends "base.html" %} {% block title %}Reset your password{% endblock %} {%
block form_content %}
<div class="main-title">CSEC-INTERN</div>
<div class="container">
    <h1>Reset your password</h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <div class="row mgTp">
        <form class="col-md-6 offset-md-3" method="post">
            <img src="img/lock2.png" class="center" />
            <h3 class="title">RESET PASSWORD</h3>

            <!-- <hr class="divisor"> -->
            <div class="form-group">
                <label for="exampleInputEmail1">New Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter new password"
                />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Confirm </label>
                <input
                    type="password"
                    class="form-control"
                    id="password2"
                    name="password2"
                    placeholder="Confirm new Password"
                />
            </div>

            {% csrf_token %}
            <button type="submit" class="button">Reset Password</button>
        </form>
    </div>
    {% else %}
    <p>
        The password reset link was invalid, possibly because it has already
        been used. Please request a new password reset.
    </p>
    {% endif %}
</div>

{% endblock %}
