coverage==6.3.2
django==4.0.4
django-filter
django-phonenumber-field==6.1.0
django-phonenumber-field[phonenumbers]
python-dotenv==0.19.2
pillow==9.0.1
psycopg2==2.9.3
python-telegram-bot==13.10
gunicorn