{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %} 
CSEC-ASTU Intern - Dashboard 
{% endblock title %}

{% block header %}
{% include 'dashboard/header.html' %}
{% endblock %}
{% block content %}
<!-- page wrapper start -->
<div class="wrapper">
    <div class="page-title-box">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Dashboard</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Welcome to CSEC-ASTU Intern Dashboard</li>
                    </ol>
                    {% if user.is_staff %}
                    <a href="{% url 'company-create' %}" class="btn btn-primary">Create Company</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- end container-fluid -->
    
    </div>
    <!-- page-title-box -->

    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary mini-stat position-relative">
                        <div class="card-body">
                            <div class="mini-stat-desc">
                                <h6 class="text-uppercase verti-label text-white-50">Companies</h6>
                                <div class="text-white">
                                    <h6 class="text-uppercase mt-0 text-white-50">Companies</h6>
                                    <h3 class="mb-3 mt-0">+ {{ total_companies }}</h3>
                                    {% comment %} <div class="">
                                        <span class="badge badge-light text-primary"> 0% </span> <span class="ml-2">From previous period</span>
                                    </div> {% endcomment %}
                                </div>
                                <div class="mini-stat-icon">
                                    <i class="mdi mdi-tag-text-outline display-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title mb-4">Companies</h4>
                            {% if companies %}
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                        <th scope="col">(#) Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Register Date</th>
                                        <th scope="col" colspan="2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for company in companies %}
                                        <tr>
                                        <th scope="row">#{{ company.id }}</th>
                                        <td>
                                            <div>
                                                <img src="{% if company.logo %} {{ company.logo.url }} {% endif %}" alt="" class="thumb-md rounded-circle mr-2"> {{ company.name }}
                                            </div>
                                        </td>
                                        <td>{{ company.get_human_redable_date }}</td>
                                        <td>
                                            <span class="badge badge-success">
                                            Active
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <a href="{% url 'company-detail' company.id %}" class="btn btn-primary btn-sm">View</a>
                                            </div>
                                        </td>
                                        </tr>   
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            {% if is_paginated %}
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
                                    </li>
                                    {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number }}">Next</a></li>
                                    {% endif %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                                    
                                </ul>
                            </nav>
                            {% endif %}
                            {% else %}
                            <div class="text-center">
                                <h4 class="mt-0 header-title mb-4">No Recent Project</h4>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end page content-->

</div>
<!-- page wrapper end -->

{% endblock content %}