{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %} 
CSEC-ASTU Intern - Project List
{% endblock title %}

{% block header %}
{% include 'dashboard/header.html' %}
{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="page-title-box">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    {% comment %} <div class="state-information d-none d-sm-block">
                        <form role="search" class="app-search">
                            <div class="form-group mb-0"> 
                                <input type="text" class="form-control" placeholder="Search..">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form> 
                    </div> {% endcomment %}
                    <h4 class="page-title">My Project List</h4>
                </div>
            </div>
        </div>
        <!-- end container-fluid -->
    
    </div>
    <!-- page-title-box -->

    <div class="page-content-wrapper">
        <div class="container-fluid">
            {% if projects %}
            <div class="row">
                {% for project in projects %}
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <!-- Simple card -->
                    <div class="card m-b-30">
                        <img class="card-img-top img-fluid d-block mx-auto" src="{{ project.get_cover_image.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title font-16 mt-0">{{ project.title }}</h4>
                            <h5 class="card-title font-16 mt-0">{% if project.is_approved %} Approved {% else %} Pending {% endif %}</h5>
                            <p class="card-text">{{ project.get_short_description }}</p>
                            <a href="{% url 'project-detail' project.id %}" class="btn btn-primary waves-effect waves-light">Show Detail</a>
                        </div>
                    </div>
                </div><!-- end col -->
                {% endfor %}
            </div> <!-- end row -->
            {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h3 class="text-muted text-uppercase m-t-0 m-b-30">No Project Found</h3>
                                    <a href="{% url 'create-project' %}" class="btn btn-primary waves-effect waves-light m-b-5">Create Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end page content-->

</div>

{% endblock content %}

<!-- Required datatable js -->
{% block js %}

<script src="{% static 'plugins/moment/moment.js' %}"></script>

<script src="{% static 'js/forms.js' %}"></script>

{% endblock js %}