{% extends 'base.html' %}

{% block title %}
<title>Event</title>
{% endblock title %}

{% block content %}
<h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Add New Event</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success">
</form>

{% for emp in event %}
{{ emp.description }}
<a style="margin-right: 30px;" href="{% url 'edit-event' emp.id %}">Edit</a>

{% endfor %}


{% endblock content %}