{% extends "base.html" %}
{% block title %}Change your password{% endblock %}

{% block form_content %}
	<div class="card col-6">
		<div class="form">
			<h1 class="form-header">Change your password</h1>
			<p>Use the form below to change your password.</p>
			<form method="post" class="form-b">
	           <h3 style="color: red;"> {{ form.errors }} </h3>
				{{ form.non_field_errors }}
				{{ form.as_p }}
				{% csrf_token %}
				<button class="btn-b" type="submit"> Change </button>

			</form>
		</div>
		
	</div>
{% endblock %}

#password_change_form